body {
	background: linear-gradient(135deg, #000b0c 0%, #025b68 100%);
	color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: 16px;
}

/* Spacing for content */
.content {
	flex: 1;
	padding: 20px;
}
a {
	text-decoration: none;
	font-size: 16px;
}

.fixed-width-btn {
	width: 205px;
	font-size: 16px;
}

.featured-card-rounded {
	border-radius: 20px;
	font-size: 16px;
}

.featured-image-padding {
	padding: 10px;
}

.featured-image-rounded {
	border-radius: 15px;
}

/* Where To Get Scroller */
.where-container {
	overflow: hidden;
	height: 100%;
}

.where-slider {
	display: flex;
	gap: 100px;
	animation: where-slidein var(--animation-duration, 300s) linear infinite;
	/* Set the transform to cover twice the distance of the content's width */
}

.where-logo {
	flex: 0 0 auto;
	padding: 10px;
	animation: where-fadein 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
	font-size: 16px;
}

.where-logo img {
	filter: brightness(0) invert(1);
	max-width: 100px;
}

@keyframes where-slidein {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-200%);
	}
}

@keyframes where-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}

.card {
	flex: 1 1 auto; /* Allow cards to shrink and grow as needed */
	font-size: 16px;
}

@media (max-width: 575px) {
	.card {
		margin: 5px; /* Reduce spacing between cards on smaller screens */
	}
}

/* AMA */
.ama-card-wrapper {
	/* Add any additional styles for the outermost card wrapper */
	font-size: 16px;
}

/* Card Wrapper with Fixed Height */
.card-wrapper {
	border: 1px solid #ccc; 
	padding: 10px;
	max-height: 200px;
	overflow: hidden;
	background-color: #f9f9f9;
	font-size: 16px;
}

.ama-card-body {
	/* Styles for the card body */
	font-size: 16px;
}

.ama-image-wrapper {
	text-align: center; 
	max-width: 100%; 
	font-size: 16px;
}

.ama-featured-image {
	max-width: 100%; /* Ensures the image doesn't exceed the wrapper's width */
	max-height: 200px; /* Adjust as needed to fit within the card without expanding it */
	object-fit: contain; /* Scales the image to fit without distorting */
	font-size: 16px;
}

.ama-divider {
	/* Styles for the divider between sections, if needed */
	font-size: 16px;
}


.ama-audio-wrapper {
	display: flex;
	align-items: center;
	margin-top: 10px; /* Space between the image and audio */
	font-size: 16px;
}

.ama-audio-wrapper audio {
	margin-right: 10px; /* Space between audio controls and icon */
}

.fa-play {
	font-size: 20px; /* Adjust the size of the play icon */
	color: #333; /* Change the icon color */
}


